*~*.bkp
.drawio.bkp
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.next
pom.xml.versionsBackup
release.properties
.gradle/
build/
captures/
.idea/
*.iws
*.iml
*.ipr
out/
.metadata/
.classpath
.project
.settings/
*.launch
bin/
.vscode/
.DS_Store
.AppleDouble
.LSOverride
._*
Thumbs.db
Ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.lnk
*.log
*.tmp
*.bak
*.swp
